<html lang="en">
  <head>
      <title>Winter Olympics Catchup</title>
      {% autoescape false %}
        {{ barlesque["head"] }}
      {% endautoescape %}
      <link rel="stylesheet" href="http://static.bbci.co.uk/onesport/2.6.246/css/compiled/all-base.css">
  </head>
  <body>
    {% autoescape false %}
      {{ barlesque["bodyfirst"] }}
    {% endautoescape %}
    <div id="orb-modules">
      <div id="sport-wrap">
        <div role="main" class="main clearfix">
          <h1 class="all-sports-list__heading great-primer">Winter Olympics Catchup</h1>
          <ul class="all-sports-list">
            {% for episode in episodes -%}
              <li class="all-sports-list__item">
                <h2 class="all-sports-list__heading">
                  {{ episode.subtitle }}
                  {{ episode.online_availability_window }}
                </h2>
              </li>
            {%- endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% autoescape false %}
      {{ barlesque["bodylast"] }}
    {% endautoescape %}
  </body>
</html>